/* tailwind imported */
@import "tailwindcss";
/* font imported */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

button:active {
  background-color: #130574;
}

li {
  list-style: none;
}
